.event {
    color: #000;
    font-size: 12px;
    cursor: pointer; /* Zeigt einen Pointer-Cursor an, wenn man über ein Ereignis hovert */
    padding: 5px;
    border-radius: 4px;
    background-color: rgba(154, 154, 154, 0.6); /* Heller Hintergrund für die Ereignisse */
    margin: 2px 0;
    text-align: center;
}
.calendarCard {
    height: 84vh;
    width: 52vw;
    margin: 0; /* Falls du einen kleinen Abstand zum unteren Rand benötigst */
}
