.event {
    color: #000;
    font-size: 12px;
    cursor: pointer; /* Zeigt einen Pointer-Cursor an, wenn man über ein Ereignis hovert */
    padding: 5px;
    border-radius: 4px;
    background-color: rgba(154, 154, 154, 0.6); /* Heller Hintergrund für die Ereignisse */
    margin: 2px 0;
    text-align: center;
}
.calendarCard {
    height: 84vh;
    width: 52vw;
    border-radius: 15px; /* Adjust the value for more or less rounding */
    border: none; /* Optionally, remove the default border */
    overflow: hidden; /* Ensure the content inside the iframe doesn't overflow the corners */
}

.menuPlanImage {
    max-width: 100%; /* Setze die maximale Breite des Bildes auf 50% der Containerbreite */
    max-height: 100%; /* Setze die maximale Höhe des Bildes auf 50% der Containerhöhe */
    object-fit: contain; /* Verhindert das Verzerren des Bildes */
}