.card {
    background-color: rgba(249, 249, 249, 0.8); /* Weiß mit 80% Deckkraft */
    border-radius: 12px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15);
    padding: 24px;
    flex: 1 0 45%; /* Adjust the width to fit both cards */
    margin: 10px;
    box-sizing: border-box;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
