.carouselWrapper {
    position: relative;
    width: 100%;
    max-width: 320px;
    margin: auto;
}

.clockContainer {
    border-radius: 12px; /* Abgerundete Ecken */
    padding: 20px;
    text-align: center;
    max-width: 300px;
    margin: 0 auto;
    font-family: 'Roboto', sans-serif;
    color: #333; /* Dunkle Schriftfarbe für gute Lesbarkeit */
    position: relative;
    overflow: hidden;
    transition: opacity 0.5s ease;
}

.nightClock {
    /* Style für die analoge Uhr */
    margin: auto;
}

.digitalClock {
    font-family: 'Roboto', sans-serif;
    font-size: 2.5rem;
    font-weight: bold;
    color: #333;
}

.clock-background {
    background-color: #f4f4f4; /* Hintergrundfarbe */
    height: 100vh; /* Höhe des Hintergrunds */
    display: flex;
    justify-content: center;
    align-items: center;
}

.fadeIn {
    opacity: 0;
    animation: fadeIn 0.5s forwards;
}

@keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
}
