@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&family=Noto+Serif:ital,wght@0,100..900;1,100..900&display=swap');


.pageContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    min-height: 100vh; /* Ensures the container fills the entire viewport height */
    min-width: 100vw;
}

.title {
    font-size: 36px;
    margin-bottom: 40px;
}

.cardContainer {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr;
}

.miniCard {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 35%;
}

.middle-card{
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 63.1%;
}

.outer {
    height: 100%;
}

.calendarCard {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 52vw;
}
.card-right{
    display: flex;
    flex-direction: column;
}
.doubleclick {
    margin-top: 2rem;
}

.fa-keyboard {
    width: 100vw;
}


/*Name Input Css*/
.Nameinput {
    background-color: #f9fafb;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    width: 80vw;
    margin: 200px auto;
    text-align: center;
}

.Nameinput h3 {
    font-size: 1.8em;
    color: #111827;
    margin-bottom: 10px;
}

.Nameinput h6 {
    font-size: 0.9em;
    color: #6b7280;
    margin-bottom: 20px;
    font-style: italic;
}

.Nameinput h6 i {
    color: #9ca3af;
}

.Nameinput .Tastatur {
    margin-top: 20px;
}




