
.pageContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  min-height: 100vh; /* Ensures the container fills the entire viewport height */
}

.title {
  font-size: 36px;
  margin-bottom: 40px;
}

.cardContainer {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 1fr;
  max-height: 1vh;
  min-height: 1vh;
}

.card {
  flex: 1 0 45%; /* Adjust width to fit both cards */
  max-width: 45%; /* Ensure cards don't exceed 45% of the container width */
}

.miniCard {
  display: flex;
  justify-content: center;
  align-items: center;
}
.outer {
  height: 100%;
}
